
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFDFAC;
  }

/* Rectangle 1 */

div {
position: absolute;
width: 1507px;
height: 482px;
left: 194px;
top: 277px;
background-color: black;
}

body {
    background-color: #6886C6;
}


